/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    background: #121212;
    color: #ffffff;
    display: flex;
    min-height: 100vh;
}

/* SIDEBAR */
.sidebar {
    width: 230px;
    background: #000;
    padding: 25px;
}

.logo {
    color: #1DB954;
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 40px;
}

.sidebar ul {
    list-style: none;
}

.sidebar li {
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 6px;
    cursor: pointer;
    color: #b3b3b3;
}

.sidebar li.active,
.sidebar li:hover {
    background: #1DB954;
    color: #000;
}

/* MAIN */
.main-content {
    flex: 1;
    padding: 25px;
}

/* TOPBAR */
.topbar h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

/* GRID */
.content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

/* CARD */
.card {
    background: #181818;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.4);
}

.card h3 {
    color: #1DB954;
    margin-bottom: 15px;
}

/* STATS */
.stats-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 15px;
}

.stat-card {
    background: #121212;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    border: 1px solid #222;
}

.stat-card h4 {
    color: #b3b3b3;
    font-size: 14px;
    margin-bottom: 8px;
}

.stat-card p {
    font-size: 20px;
    font-weight: bold;
    color: #1DB954;
}

/* SELECT */
.select-box {
    padding: 8px 10px;
    background: #121212;
    color: #fff;
    border: 1px solid #333;
    border-radius: 6px;
}

/* TABLE */
.table-wrapper {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table thead {
    background: #1DB954;
    color: #000;
}

table th,
table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #333;
    font-size: 14px;
}

table tr:hover {
    background: #1f1f1f;
}

/* BUTTON */
button {
    background: #1DB954;
    color: #000;
    border: none;
    padding: 10px 18px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    opacity: 0.9;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .sidebar {
        display: none;
    }
}
